.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 12px 60px 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 390px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__content {
  display: flex;
}

.card__fav-button {
  margin-top: 12px;
  margin-left: auto;
  width: 23px;
  height: 28px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.75s;
}

.card__fav-button:hover {
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
    font-size: 16px;
    line-height: 1;
  }
}
