.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  line-height: 1.2;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.card__delete-button {
  top: 10px;
  right: 10px;
  background: none;
  position: absolute;
  border: none;
  cursor: pointer;
}

.card__delete-icon {
  display: block;
}

.card__delete-button:hover .card__delete-icon {
  background-image: url("../images/trash-bin-hover.svg");
  background-repeat: no-repeat;
}

.card__fav-button {
  margin-left: auto;
  padding: 0;
  width: 23px;
  height: 28px;
  border: none;
  background: transparent url("../images/fav-button.svg") center no-repeat;
  opacity: 40%;
  transition: opacity 0.75s;
}

.card__fav-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__fav-button_liked {
  background-image: url(../images/like-heart.svg);
  opacity: 1;
}

.card__fav-button_liked:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
